<div id="fields-IT-APP" class="dynamic-field">
    <label>ประเภทงาน</label>
    <select name="app_type">
        <option value="จัดทำ App ใหม่">จัดทำ Application ใหม่</option>
        <option value="ปรับปรุง App เดิม">ปรับปรุง Application เดิม</option>
        <option value="ข้อมูล/รายงาน ERP">รายงานและข้อมูลจากระบบ ERP</option>
    </select>

    <label>ข้อมูลที่ต้องการ / วัตถุประสงค์</label>
    <textarea name="app_detail" rows="4"></textarea>

    <label>วันที่ต้องการแล้วเสร็จ</label>
    <input type="date" name="app_deadline">
</div>
