{% extends "base.html" %}
{% block title %}Return Detail{% endblock %}

{% block content %}
<div class="container py-4">

  <h4 class="fw-bold mb-4">📤 รายการคืนของ</h4>

  <div class="card shadow-sm mb-4">
    <div class="card-body">

      <ul class="list-group">
        {% for i in items %}
        <li class="list-group-item d-flex justify-content-between">
          <span>
            {{ i.name }} <small class="text-muted">({{ i.spec }})</small>
          </span>
          <span class="fw-bold">x {{ i.quantity }}</span>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <form method="post" action="{% url 'stock_return_now' borrow_id %}">
    {% csrf_token %}
    <button class="btn btn-danger">
      🔁 คืนทั้งหมด
    </button>
    <a href="{% url 'stock_return_list' %}"
       class="btn btn-secondary">
      กลับ
    </a>
  </form>

</div>
{% endblock %}
