{% extends "base.html" %}
{% block title %}Return List{% endblock %}

{% block content %}
<div class="container py-4">

    <h4 class="fw-bold mb-4">🔄 รายการรอคืนของ</h4>

    <div class="card shadow-sm">
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>หัวข้อ</th>
                        <th>ผู้ขอ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if b.remaining > 0 %}
                    <a href="{% url 'stock_return_detail' b.id %}" class="btn btn-sm btn-primary">
                        คืนของ
                    </a>
                    {% else %}
                    <span class="badge bg-success">คืนครบแล้ว</span>
                    {% endif %}

                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock %}